.dashboard.header {
	font-family: LuloCleanW01-OneBold;
	font-size: 1.5em;
	width: 100%;
	background-color: rgba(240,240,240,.3);
	height: 100px;
	line-height: 100px;
}
.menu.dashboard {
	color: white;
	display: inline-block;
	min-width: 90%;
	padding: 0 5%;
}
.dashboard-mini-menu {
	display: block;
	margin: 10px 0 10px -15px;
	font-family: MuseoSansW01-Rounded300;
	font-size: 15px;
	line-height: 30px;
}
.dashboard-mini-menu li {
	list-style: none
}


