.footer {
	display: table-row;
	position: relative;
	height: max-content;
	border-top: 2px solid black;
	font-size: 15px;
	color: rgba(30,30,30,.8);
}
.footer1 {
	height: max-content;
	padding: 25px;
}
.footer2 {
	height: max-content;
	padding: 25px;
}
.footer3 {
	bottom: 0;
	width: 100%;
	justify-content: center;
	height: max-content;
}
.footer-content {
	padding: 10px;
}
.line {
	border-top: 1px solid rgba(50, 50, 50, .4);
	margin: 10px 30px !important;
}

.copyright-footer {
	font-family: MuseoSansW01-Rounded300;
	text-align: center;
	font-size: 13px;
	color: rgba(50, 50,50, .7);
	font-weight: bold;
	padding: 10px;
}
.list-lev2, .list-lev2, .list-lev2-item{
	margin: 0 0 12px 0;
}
.list-lev1 {
	list-style: none;
	padding-left: 0;
	padding-right: 0;
}
.list-lev2 {
	font-family: EstaItalic;
	font-weight: bolder;
	font-size: 15px;
}

.list-lev1 > .list-lev2 {
	display: flex;
	justify-content: space-between;
}

.tab {
	width: 10px;
	height: 1px;
	flex-grow: 1;
	align-self: center;
	margin: 0 5px;
}

li > .tab {
	border-bottom: 1px dotted rgba(50, 50, 50, .4);
}

.header5 {
	font-family: Vesta-Black;
	font-size: 15px;
	color: rgba(40, 40, 40, .9);
	margin-bottom: 10px;
}
.social-icon{
	padding: 20px;
	justify-content: flex-start;
}

.social-icon > a > i {
	color: rgba(40,40,40,.9);
	font-size: 25px;
}
.social-icon > a:not(:first-child) {
	margin-left: 15px;
}
.social-icon > a:not(:last-child) {
	margin-right: 15px;
}

.social-icon > a:hover {
	cursor: pointer;
	opacity: .7;
	transform: scale(1.2);
}
.fa-call {
	border: 4px solid rgba(40,40,40,.9) !important;
	border-radius: 50% !important;
	height: 40px;
	width: 40px;
}

.footer-item {
	display: flex;
	position: relative;
	color: rgba(50,50,50,1);
	line-height: 40px;
	height: 40px;
	margin-bottom: 20px;
}
.footer-item > div:not(:last-child) {
	margin-right: 10px !important;
}
.list-lev2 > a {
	text-decoration: none !important;
	color: rgba(30,30,30,.7);
}

.list-lev2 > a:hover {
	cursor: pointer;
	text-decoration: none !important;
	color: rgba(30,30,30,.9) !important;
	text-shadow: .5px .5px 1px rgba(30,30,30,.9);
	transform: scale(1.1);
}
.list-lev2-item {
	font-size: 14px;
	font-family: Vesta-Medium;
}
@media (min-width: 576px) and (max-width: 767.98px) {
	.slide-box img {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.slide-box img {
		-ms-flex: 0 0 33.3333%;
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
}

@media (min-width: 992px)
{
	.slide-box img {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}
@media only screen and (max-width: 1090px) {
	.footer1, .footer2, .footer3 {
		text-align: center !important;
		justify-content: center;
	}
	.list-lev1 {
		margin: 20px;
	}
	.list-lev1-item {
		text-align: center !important;
		width: 100%;
	}
	.social-icon {
		justify-content: center !important;
	}

}
@media only screen and (max-width: 320px) {
	.social-icon > a {
		margin: 15px;
	}
	.fa-call {
		display: none;
	}
	.footer-item {
		justify-content: center;
	}
	#text-call {
		font-size: 13px;
	}
	#num-call {
		font-size: 15px;
	}
}
