@import url('Fonts.css');
@import url('fontawesome.css');
@import url('debug.css');
@import url('footer.css');
@import url('homepage.css');
@import url('product.css');
@import url('detail_product.css');
@import url('dashboard.css');
/*General*/
.wrap {
	padding: 20px;
	border-top: 2px solid rgba(30,30,30,.8);
	border-bottom: 2px solid rgba(30,30,30,.8);
	width: 100%;
}
