/*#region Debug*/
.debug {
    border: 1px red solid;
}
/*#endregion Debug*/
/*#region Styles*/
.footer {
    display: table-row;
    position: relative;
    height: max-content;
    font-size: 15px;
    font-family: Cambria, "Century Gothic", Apercu, sans-serif;
    color: rgba(30,30,30,.8);
}
#line-break-content-footer {
    margin-top: 50px;
    border-top: 2px solid rgba(50,50,50,.8);
}
#line-break-content-header {
    border-top: 2px solid rgba(50,50,50,.8);
}
.footer1 {
    height: max-content;
    padding: 25px;
}
.footer2 {
    height: max-content;
    padding: 25px;
}
.footer3 {
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin: 10px;
    display: block;
    vertical-align: middle;
}
.footer-content {
    padding: 20px;
}
.line {
    border-top: 1px solid rgba(50, 50, 50, .4);
    margin: 10px 30px !important;
}

.copyright-footer {
    text-align: center;
    font-size: 13px;
    color: rgba(50, 50,50, .7);
    font-weight: bold;
    line-height: 20px;
}
.list-lev2, .list-lev2, .list-lev2-item{
    margin: 0 0 12px 0;
}
.list-lev1 {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.list-lev2 {
    font-family: "Cambria Z", serif;
    font-size: 15px;
}

.list-lev1 > .list-lev2 {
    display: flex;
    justify-content: space-between;
}

.tab {
    width: 10px;
    height: 1px;
    flex-grow: 1;
    align-self: center;
    margin: 0 5px;
}

li > .tab {
    border-bottom: 1px dotted rgba(50, 50, 50, .4);
}

.header5 {
    font-family: "Century Gothic", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgba(40, 40, 40, .9);
    margin-bottom: 10px;
}
.header {
    font-family: "Charlemagne Std";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(40, 40, 40, .9);
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.social-icon{
    padding: 20px;
    justify-content: flex-start;
}

.social-icon a {
    color: rgba(40,40,40,.9);
    font-size: 25px;
    margin: 15px;
}
.social-icon > a:first-child {
    margin-left: 0 !important;
}
.social-icon > a:last-child {
    margin-right: 0 !important;
}
.social-icon > a:hover {
    cursor: pointer;
    opacity: .7;
    transform: scale(1.1);
}
.fa-call i:before {
    text-align: center;
    vertical-align: middle;
    display: block;
}
.fa-call {
    border: 4px solid rgba(40,40,40,.9) !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
.footer-item {
    display: flex;
    position: relative;
    color: rgba(50,50,50,1);
    line-height: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#text-call {
    font-family: 'Apercu Medium',sans-serif;
    font-size: 15px;
    color: rgba(40,40,40,.9);
}
#num-call {
    font-family: 'Century Gothic',sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
}
.footer-item > div:not(:last-child) {
    margin-right: 10px !important;
}
.list-lev2 > a {
    text-decoration: none;
    color: rgba(30,30,30,.7);
}

a:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: rgba(30,30,30,.9) !important;
    text-shadow: 1px 1px 1px rgba(40,40,40,.5);
    transform: scale(1.1);
}
.list-lev2-item {
    font-size: 14px;
}
.cus-target {
    font-size: 30px;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin: 20px;
    line-height: 380px;
}
.cus-target-bg {
    height: 350px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cus-target-bg:hover {
    background-size: 380px;
}
.filter:hover {
    backdrop-filter: grayscale(0);
}
.filter {
    height: 350px;
    backdrop-filter: grayscale(.8);
}
.icon-bg {
    background-color: rgba(30,30,30, .5) !important;
    width: 50px !important;
    height: 50px !important;
    display: inline-block;
    position: absolute;
    z-index: 1;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    display: flex;
}
.con-box {
    padding: 0 20px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.box {
    position: relative;
    display: block;
    width: 200px;
    height: 100px;
    padding-right:15px;
    padding-left:15px;
    line-height: 100px;
    margin: 15px;
    background: none;
    border: none;
}
.box > img {
    vertical-align: middle;
    width: 100%;
}
.box:hover {
    background-color: rgba(220,220,220,.5) !important;
}
.header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.homepage-header > img{
    width: 200px;
    height: auto;
    margin: 0 15px;
}
body {
    padding-top: 20px;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

.carousel-caption {
background-color: rgba(0, 0, 0, 0.5);
padding: 20px;
border-radius: .5rem;
}
.crumb-bread ol, .side-menu-item ol {
    list-style: none;
}
.crumb-bread ol {
    font-family: "Cambria Z";
    font-size: 13px;
    padding-left: 0;
}
.crumb-bread {
    display: inline-block;
}
.crumb-bread li > a {
    color: rgba(30,30,30,.8);
}
.crumb-bread li:not(:link) {
    font-weight: bold;
    color: rgba(80,100,200,.9);
}
.crumb-bread a::after {
    display: inline-block;
    color: rgba(40,40,40,.8);
    content: '/';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
.side-menu-item ol, .side-menu-item.list-item {
    position: sticky;
    font-family: "Sitka Display";
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;
    line-height: 25px;
}
.list-item li {
    margin-bottom: 5px;
}
.list-item a {
    color: rgba(30,30,30,.9);
}
.side-menu-item, .side-menu-header {
    padding: 10px;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 15px;
}
.side-menu-item.side-menu-header {
    background-color: rgba(30,30,30,1);
}
.side-menu-header span {
    margin-right: 10px;
    color: rgba(250,250,240,1);
}
#list-brands {
    margin-left: 15px;
}
.price-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em;
}
.price-slider svg,
.price-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0;
}
input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range {
    border: 2px solid #e60023;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1da1f2;
}
input[type=range]:focus::-ms-fill-lower {
    background: #1da1f2;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1da1f2;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
    background: #1da1f2;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
}
input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #1da1f2;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
}
.slider-number-input,.slider-range {
    font-family: 'Cambria';
}
.slider-number-input {
    margin: 20px 10px;
}
.price-slider {
    margin: 20px 0;
}
.slider-range svg, .slider-range input {
    margin: 20px 15px;
    width: 90%;
}
.slider-number-input {
    width: 90%;
    margin: 0 15px 30px;
}
.slider-range svg {
    transform: translate(0, 30px);
}
.slider-number-input input {
    font-size: 15px;
    text-align: right;
    padding: 0 10px;
    width: 40%;
}
.product-list-header {
    font-family: Cambria !important;
    font-size: 13px !important;
}
/*#endregion Styles*/
/*#region Responsive*/

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px)
{
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media only screen and (max-width: 1090px) {
    .footer1, .footer2, .footer3 {
        text-align: center !important;
        justify-content: center;
    }
    .list-lev1 {
        margin: 20px;
    }
    .list-lev1-item {
        text-align: center !important;
        width: 100%;
    }
    .social-icon {
        justify-content: center !important;
    }

}
@media only screen and (max-width: 320px) {
    .social-icon > a {
        margin: 15px;
    }
    .fa-call {
        display: none;
    }
    .footer-item {
        justify-content: center;
    }
    #text-call {
        font-size: 13px;
    }
    #num-call {
        font-size: 15px;
    }
}
/*#endregion Responsive*/