/*#region Fonts*/
    /*#region Century Gothic Font*/
        @font-face {
            font-family: "Century Gothic";
            src: url("/assets/fonts/Century Gothic/GOTHIC.TTF");
        }
        @font-face {
            font-family: "Century Gothic Bold";
            src: url("/assets/fonts/Century Gothic/GOTHICB.TTF");
        }
        @font-face {
            font-family: "Century Gothic Bold Italic";
            src: url("/assets/fonts/Century Gothic/GOTHICBI.TTF");
        }
        @font-face {
            font-family: "Century Gothic Italic";
            src: url('/assets/fonts/Century Gothic/GOTHICBI.TTF');
        }
    /*#endregion Century Gothic Font*/
    /*#region Cambria Font*/
        @font-face {
            font-family: "Cambria";
            src: url("/assets/fonts/Cambria/cambria.ttc");
        }
        @font-face {
            font-family: "Cambria Bold";
            src: url("/assets/fonts/Cambria/cambriab.ttf");
        }
        @font-face {
            font-family: "Cambria Italic";
            src: url("/assets/fonts/Cambria/cambriai.ttf");
        }
        @font-face {
            font-family: "Cambria Z";
            src: url("/assets/fonts/Cambria/cambriaz.ttf");
        }
    /*#endregion Cambria Font*/
    /*#region Apercu Font*/
        @font-face {
            font-family: "Apercu";
            src: url("/assets/fonts/Apercu/Apercu Bold.otf");
        }
        @font-face {
            font-family: "Apercu Bold Italic";
            src: url("/assets/fonts/Apercu/Apercu Bold Italic.otf");
        }
        @font-face {
            font-family: "Apercu Italic";
            src: url("/assets/fonts/Apercu/Apercu Italic.otf");
        }
        @font-face {
            font-family: "Apercu Light Italic";
            src: url("/assets/fonts/Apercu/Apercu Light Italic.otf");
        }
         @font-face {
             font-family: "Apercu Medium";
             src: url("/assets/fonts/Apercu/Apercu Medium.otf");
         }
         @font-face {
             font-family: "Apercu Medium Italic";
             src: url("/assets/fonts/Apercu/Apercu Medium Italic.otf");
         }
         @font-face {
             font-family: "Apercu Regular";
             src: url("/assets/fonts/Apercu/Apercu Regular.otf");
         }
         @font-face {
             font-family: "Apercu Light";
             src: url("/assets/fonts/Apercu/Apercu Light.otf");
         }
    /*#endregion Apercu Font*/
/*#endregion Fonts*/
/*#region Debug*/
/*.debug {*/
/*    border: 1px red solid;*/
/*}*/
/*#endregion Debug*/
/*#region Styles*/
.footer {
    display: table-row;
    position: relative;
    height: max-content;
    border-top: 2px solid black;
    font-size: 15px;
    font-family: Cambria, "Century Gothic", Apercu, sans-serif;
    color: rgba(30,30,30,.8);
}
.footer1 {
    height: max-content;
    padding: 25px;
}
.footer2 {
    height: max-content;
    padding: 25px;
}
.footer3 {
    bottom: 0;
    width: 100%;
    justify-content: center;
    height: max-content;
}
.footer-content {
    padding: 10px;
}
.line {
    border-top: 1px solid rgba(50, 50, 50, .4);
    margin: 10px 30px !important;
}

.copyright-footer {
    text-align: center;
    font-size: 13px;
    color: rgba(50, 50,50, .7);
    font-weight: bold;
}
.list-lev2, .list-lev2, .list-lev2-item{
    margin: 0 0 12px 0;
}
.list-lev1 {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.list-lev2 {
    font-family: "Cambria Z", serif;
    font-size: 15px;
}

.list-lev1 > .list-lev2 {
    display: flex;
    justify-content: space-between;
}

.tab {
    width: 10px;
    height: 1px;
    flex-grow: 1;
    align-self: center;
    margin: 0 5px;
}

li > .tab {
    border-bottom: 1px dotted rgba(50, 50, 50, .4);
}

.header5 {
    font-family: "Century Gothic", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgba(40, 40, 40, .9);
    margin-bottom: 10px;
}
.header {
    font-family: "Charlemagne Std";
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgba(40, 40, 40, .9);
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.social-icon{
    padding: 20px;
    justify-content: flex-start;
}

.social-icon > a > .fa {
    color: rgba(40,40,40,.9);
    font-size: 25px;
}
.social-icon > a:not(:first-child) {
    margin-left: 15px;
}
.social-icon > a:not(:last-child) {
    margin-right: 15px;
}

.social-icon > a:hover {
    cursor: pointer;
    opacity: .7;
    transform: scale(1.1);
}
.fa-call {
    border: 3px solid rgba(40,40,40,.9) !important;
    border-radius: 50% !important;
    height: 2rem;
    width: 2rem;
}

.footer-item {
    display: flex;
    position: relative;
    color: rgba(50,50,50,1);
    line-height: 3rem;
    height: 3rem;
    margin-bottom: 20px;
}
.footer-item > div:not(:last-child) {
    margin-right: 10px !important;
}
.list-lev2 > a {
    text-decoration: none;
    color: rgba(30,30,30,.7);
}

a:hover {
    cursor: pointer;
    text-decoration: none !important;
    color: rgba(30,30,30,.9) !important;
    text-shadow: 1px 1px 1px rgba(40,40,40,.5);
    transform: scale(1.1);
}
.list-lev2-item {
    font-size: 14px;
}
.cus-target {
    font-size: 30px;
    font-family: "Century Gothic", sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    margin: 20px;
    line-height: 380px;
}
.cus-target-bg {
    height: 350px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cus-target-bg:hover {
    background-size: 380px;
}
.filter:hover {
    backdrop-filter: grayscale(0);
}
.filter {
    height: 350px;
    backdrop-filter: grayscale(.8);
}
.icon-bg {
    background-color: rgba(30,30,30, .5) !important;
    width: 50px !important;
    height: 50px !important;
    display: inline-block;
    position: absolute;
    z-index: 1;
    display: -ms-flexbox;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    display: flex;
}
.con-box {
    padding: 0 20px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
.box {
    position: relative;
    display: block;
    width: 200px;
    height: 100px;
    padding-right:15px;
    padding-left:15px;
    line-height: 100px;
    margin: 15px;
    background: none;
    border: none;
}
.box > img {
    vertical-align: middle;
    width: 100%;
}
.box:hover {
    background-color: rgba(220,220,220,.5) !important;
}
.header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}
.homepage-header > img{
    width: 200px;
    height: auto;
    margin: 0 15px;
}
body {
    padding-top: 20px;
}

.carousel {
    width: 100%;
}

.slide-box {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .slide-box img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .slide-box img {
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (min-width: 992px)
{
    .slide-box img {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: .5rem;
}
/*#endregion Styles*/
/*#region Responsive*/
@media only screen and (max-width: 1090px) {
    .footer1, .footer2, .footer3 {
        text-align: center !important;
        justify-content: center;
    }
    .list-lev1 {
        margin: 20px;
    }
    .list-lev1-item {
        text-align: center !important;
        width: 100%;
    }

}
@media only screen and (max-width: 299px) {
    .social-icon > a {
        margin: 15px;
    }
}
/*#endregion Responsive*/